.log-in {
  margin: 20rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in__input {
  margin: 1rem ;
  display: flex;
  justify-content: centet;
  width: 25%;
  height: 1.5rem;
}

.log-in__btn{
    height: 2rem;
    width: 5rem;
    background: #292929;
}

.log-in__btn a {
    text-decoration: none;
    
    color: white;
  }